---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article_header">
    <h1 class="article_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>
  
  <hr/>

  <div class="comment">
    Name:<br/>
    <input type='text' name='name' id='name' /><br/>
    
    Comment:<br/>
    <textarea name='comment' id='comment' rows="4" cols="250"></textarea><br/>

    <button onclick="submitComment({{ page.url }})" type="button">Submit comment</button>
  </div>
</article>
