---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article_header">
    <h1 class="article_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>
  
  <hr/>
  
  <div class="article-comments">
    {% for comment in site.data.2017-08-17-DC_2017-08-17 %}
    On {{ comment.date}}, {{ comment.author }} said:
    <br>
    {{ comment.comment }}
    <p>
    {% endfor %}
  </div>
  
  <hr/>

  <div class="comment">
    Name:<br/>
    <input type='text' name='name' id='name' /><br/>
    
    Comment:<br/>
    <textarea name='comment' id='comment' cols="80"></textarea><br/>
    
    <!-- Here, we concatenate the date and title so we can later determine which post to attach comments -->
    <button id='button' data-postid="{{ page.date | date: "%Y-%m-%d" }}-{{ page.title }}" type="button">submit</button>
  </div>
</article>
